@using WebApp.Components.UI.Icons

<EditForm Model="Text" id="msg-form" class="flex items-center justify-center w-full h-full" OnSubmit="OnSubmit" FormName="user-message">
    <div class="relative w-1/2 ">
        <InputTextArea autofocus="true"
            onkeypress="javascript:if (event.code === 'Enter' && !event.shiftKey) { event.preventDefault(); document.querySelector('#msg-form').submit(); }"
            class="w-full h-full px-8 py-4 text-white resize-none rounded-4xl min-w-96 bg-neutral-700 placeholder:text-neutral-300 field-sizing-content max-h-64"
            placeholder="message here" @bind-value="Text" />
        <button
            class="absolute z-10 flex items-center justify-center w-10 h-8 -translate-y-5 bg-white rounded-full cursor-pointer right-4 top-1/2">
            <Send />
        </button>
    </div>
</EditForm>

@code
{
    [SupplyParameterFromForm]
    private string Text { get; set; } = "";

    private List<string> listTest = [];

    private void OnSubmit()
    {
        Console.WriteLine(Text);
        Text = "";
    }
}