@using WebApp.Client.Components.UI.Forms
@using WebApp.Client.Components.UI.Chat
@using Model
@page "/"

<PageTitle>Home</PageTitle>


<div class="flex flex-col items-center justify-between w-dvw h-dvh bg-neutral-900">
    <Chat Messages="messages" />

    <div class="w-full pb-8">
        <UserMessageForm />
    </div>
</div>

@code {
    private List<Message> messages = [];
];
}