@using WebApp.Components.UI.Forms
@page "/"

<PageTitle>Home</PageTitle>


<div class="flex flex-col items-center justify-between w-dvw h-dvh bg-neutral-900">
    <div class="text-white">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo neque ducimus amet sint quidem assumenda dolores
        eveniet cupiditate, ipsum deserunt, odit, distinctio non vero quam reiciendis sit! Accusamus, iure repellendus?
    </div>

    <div class="w-full pb-8">
        <UserMessage />
    </div>
</div>
